<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Utility Tracker</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--Oswald font and shared styles-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="../../styles/shared.css">
    <!--Viewport for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap Switch-->
    <link rel="stylesheet" href="../../styles/bootstrap-switch.css">

    <!--Control Styles-->
    <link rel="stylesheet" href="../../styles/control.css">
</head>

<body>
    <div class="container">
        <h2 class="title">Control</h2>

        <div id="items">
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Heating/AC</p>
                <p id="3.42" class="item-cost temp-item-cost">-$3.42</p>

                <div class="item-details">
                    <div>
                    Temperature
                    <span id="70" class="temp-degree">70&#176;</span>
                        <div class="img-div">
                            <img id="arrow-up" src="../../content/arrow_up.svg" />
                            <img id="arrow-down" src="../../content/arrow_down.svg" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Kitchen</p>
                <p class="item-cost" id="0.89">-$0.89</p>

                <div class="item-details">

                    <div>
                        Fan
                        <div class="Switch Round On" id="0.14">
		                    <div class="Toggle"></div>
	                    </div>
                    </div>
                    
                    <div>
                        Lights
                        <div class="Switch Round On" id="0.75">
		                    <div class="Toggle"></div>
	                    </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Family Room</p>
                <p class="item-cost" id="0.16">-$0.16</p>

                <div class="item-details">

                    <div>
                        Lights
                        <div class="Switch Round On" id="0.09">
		                    <div class="Toggle"></div>
	                    </div>
                    </div>
                    
                    <div>
                        Fan
                        <div class="Switch Round On" id="0.07">
		                    <div class="Toggle"></div>
	                    </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Living Room</p>
                <p class="item-cost" id="0.13">-$0.13</p>

                <div class="item-details">

                    <div>
                        Fan
                        <div class="Switch Round Off" id="0.08">
		                    <div class="Toggle" ></div>
	                    </div>
                    </div>
                    
                    <div>
                        Lights
                        <div class="Switch Round On" id="0.13">
		                    <div class="Toggle"></div>
	                    </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Master Bedroom</p>
                <p class="item-cost" id="0.10">-$0.10</p>

                <div class="item-details">

                    <div>
                        Fan
                        <div class="Switch Round On" id="0.05">
		                    <div class="Toggle" ></div>
	                    </div>
                    </div>
                    
                    <div>
                        Lights
                        <div class="Switch Round On" id="0.05">
		                    <div class="Toggle"></div>
	                    </div>
                    </div>
                    
                </div>
            </div>


        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="../../scripts/control.js"></script>
</body>

</html>