<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Utility Tracker</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--Oswald font and shared styles-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="../../styles/shared.css">
    <link rel="stylesheet" href="../../styles/bootstrap-switch.css">
    <!--Viewport for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../styles/faq.css">

</head>

<body>
    <div class="container">
        <h2 class="title">Tips</h2>
        <hr>

        <div id="items">
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Do a nightly energy sweep</p>

                <div class="item-details">
                    We all have left fans, lights or appliances on at night while we sleep, but doing so wastes increasingly expensive energy. To save money, do a nightly sweep through the house to make sure all your electric devices are turned off before you go to bed. It may be a pain, but the savings from simply turning everything off can add up quickly. For example, just leaving your cable box plugged in and not on for a year would cost you $17.83, according to the Department of Energy. Try turning off your cable box (and other devices) between uses and watch the savings climb.
                </div>
            </div>
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Fan Adjustments</p>

                <div class="item-details">
                    Ceiling fans set at slow speed push warm air away from the ceiling and move it around the room without creating a chilling breeze. This spreads the heat more evenly and will make you feel more comfortable. If you have permissions granted, you can access your fan settings in the control section of our app. In the summer, fans can also allow you to raise your thermostat several degrees and feel just as comfortable. Just remember that fans cool people, not air—so be sure to turn them off when you leave the room. There’s a switch on most ceiling fans that reverses the direction of the blades. Make sure they’re turning counter-clockwise at medium or high speed during the summer so air is pushed down to cool you off. During the winter, run ceiling fans clockwise at low speed to gently circulate warm air that rises.
                </div>
            </div>
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">​Set water heater at 120&#176;</p>

                <div class="item-details">
                    Not only does heating your water too hot create the danger of scalding, it can cost you cash. The Environmental Protection Agency estimates that a heater set at 140 degrees or higher can waste $36 to $61 annually in standby heat losses to keep water at that temperature, and more than $400 to bring fresh water up to that high temperature. A family of four, each showering for five minutes, uses about 700 gallons of water a week. By lowering the thermostat, you can cut water heating bills without sacrificing comfort To save even more money, you can turn your electric heater off or turn your gas heater down when you go on vacation to save even more.
                </div>
            </div>
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Use a Microwave</p>

                <div class="item-details">
                    Cook with a microwave oven when you can during warm weather. They’re inexpensive and use up to 30% less energy than a traditional oven. Plus, they don’t generate heat in the kitchen.
                </div>
            </div>
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Adjust the Thermostat</p>

                <div class="item-details">
                    Set your thermostat at 68 degrees when you’re home and at 65 degrees when you’re away for a short time. If you’re used to higher settings, dial down 1 degree at a time until you feel comfortable. Lower your thermostat to 58 degrees if you’re away from home five hours or more. You use much less energy to heat the house up when you return than to keep it heated while you’re away.
                </div>
            </div>
            
            <div class="item">
                <span class="caret right"></span>
                <p class="item-title">Little drips add up</p>

                <div class="item-details">
                    Fix defective plumbing or dripping faucets. A single dripping hot water faucet can waste 212 gallons of water a month. That can increase your water bill and your energy bill.
                </div>
            </div>
            
        </div>

        <a href="/">
            <div class="svg-icon" id="home-icon-container">
                <img class="svg-icon" src="../../content/home-icon.svg">
            </div>
        </a>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="../../scripts/faq.js"></script>
</body>

</html>