<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utility Tracker</title>
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--Oswald font and shared styles-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="../../styles/shared.css">
    <!--Viewport for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../../styles/data.css">
</head>
<body>
    <div class="container">
        <h2 class="title">Data</h2>
        
    </div>
    
    <script src="../../scripts/data.js"></script>
</body>
</html>