<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utility Tracker</title>
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--Oswald font and shared styles-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="../../styles/shared.css">
    <!--Viewport for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../../styles/data.css">
</head>
<body>
    <div class="container">
        <h2 class="title">Data</h2>
        <hr>
        <img id="graph-img" src="../../content/graph_all.png" />
        <div class="button-container">
            <span id="time-period-title">Time Period</span>
            <div class="time-button button" id="day">Day</div>
            <div class="time-button button selected" id="month">Month</div>
            <div class="time-button button" id="year">Year</div>
        </div>
        <div class="button-container">
            <span>Category</span>
            <div class="category-button button selected" id="all">All</div>
            <div class="category-button button" id="electric">Electric</div>
            <div class="category-button button" id="gas">Gas</div>
            <div class="category-button button" id="water">Water</div>
        </div>
        
        <a href="/">
            <div id="home-icon-container">
                <img src="../../content/home-icon.svg">
            </div>
        </a>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="../../scripts/data.js"></script>
</body>
</html>