.item > p {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
}

.item-details {
    display: none;
    margin-left: 40px;
    font-size:15px;
}

.item-details > div {
    margin-bottom: 10px;
}

.item {
    cursor: pointer;
    margin-top:10px;
    background-color:lightgrey;
    padding:5px;
    padding-bottom:0;
    border: 1px solid black;
}

.item-title {
    width: 60%;
}

.item > span {
    margin-bottom:2px;
}

span.down {
    vertical-align: text-bottom;
    margin-right:3px;
}

.item-cost {
    float: right;
}

.Switch {
    float:right;
}

img {
    width: initial;
    height:20px;
}

.img-div {
    display:inline-block;
    float:right;
}

.temp-degree {
    margin-left:50px;
}

#home-icon-container {
    margin-top: 40px;
}

.total-cost {
    text-align: center;
    font-size: 20px;
}

.padding-bottom-5px {
    padding-bottom: 5px;
}