img {
    width: 100%;
}

.button-container {
    display: inline-block;
    margin-top: 10px;
}

.button {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.time-button {
    width: 50px;
    margin-left: 10px;
}

.category-button {
    width: 48px;
    margin-left: 5px;
}

#electric {
    border: 1px solid lime;
}

#gas {
    border: 1px solid orange;
}

#water {
    border: 1px solid blue;
}

.selected {
    background-color: #E91E63;
    color: white;
}

#electric.selected {
    background-color: limegreen;
    opacity:0.9;
} 

#gas.selected {
    background-color: orange;
    opacity:0.9;
} 

#water.selected {
    background-color: blue;
    opacity:0.9;
} 

#home-icon-container {
    margin-top: 40px;
}